@charset "utf-8";

body, html {
  overflow: hidden; /* スクロールバーを非表示 */
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px / 例: 1.6rem = 16px, 2.4rem = 24px */
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
}


/*
========================================
SP/PCの出し分け
========================================
*/
.onlyPC {
  display: none !important;
}
.onlySP {
  display: block !important;
}
@media screen and (min-width: 768px) {
  .onlyPC {
    display: block !important;
  }
  .onlySP {
    display: none !important;
  }
}


/*
========================================
loading 
========================================
*/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
}

.loading__gearArea {
  position: relative;
  width: 100px;
  height: 100px;
  opacity: 0.65;
}

.loading__gear {
  position: absolute;
  animation: gearRotate 3s linear infinite;
}

@keyframes gearRotate {
  0% { 
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading__gear.one {
  fill: #94DDFF;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.loading__gear.two {
  fill: #FB8BB9;
  left: 40px;
  width: 80px;
  height: 80px;
  animation-direction: reverse;
}

.loading__gear.three {
  fill: #FFCD5C;
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

.loading__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
}

.loading__textArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  font-size: 1.6rem;
  color: #b5b5b5;
}

.loading__text {
  margin-right: 7px;
}


/*
========================================
background 
========================================
*/
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/*
========================================
header__logo
========================================
*/
/* SP */
.header__logo {
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 8px;
  z-index: 2;
  background-color: transparent;
  backdrop-filter: blur(25px);
}

.header__logo:hover .header__logo-3 {
  animation: slideIn-3 0.5s cubic-bezier(.43,.2,.02,1) forwards;
}

@keyframes slideIn-3 {
  0% {
    opacity: 0;
    transform: translate(-100px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.header__logo:hover .header__logo-D {
  animation: slideIn-D 0.5s cubic-bezier(.43,.2,.02,1) 0.2s forwards;
}

@keyframes slideIn-D {
  0% {
    opacity: 0;
    transform: translate(50px, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.header__logo-A {
  margin-left: -5px;
}

.header__logo:hover .header__logo-A {
  animation: slideIn-A 0.5s cubic-bezier(.43,.2,.02,1) 0.4s forwards;
}

@keyframes slideIn-A {
  0% {
    opacity: 0;
    transform: translate(50px, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* PC */
@media (min-width: 768px) {
  .header__logo {
    top: 10px;
    left: 10px;
    padding: 10px;
  }
}


/*
========================================
header__hamburger
========================================
*/
/* SP */
.header__hamburger {
  position: fixed;
  right: 15px;
  top: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.header__hamburger-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
}

.header__hamburger-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform 1.5s cubic-bezier(.43,.2,.02,1),opacity 1.5s cubic-bezier(.43,.2,.02,1)
}

.header__hamburger-bar-line {
  display: block;
  width: 100%;
  height: 100%;
  background: #333333;
}

.header__hamburger.is-active .header__hamburger-bar:first-of-type {
  transform: translateY(9.5px) rotate(135deg)
}

.header__hamburger.is-active .header__hamburger-bar:nth-of-type(2) {
  opacity: 0
}

.header__hamburger.is-active .header__hamburger-bar:nth-of-type(3) {
  transform: translateY(-9.5px) rotate(-135deg)
}

/* PC */
@media (min-width: 768px) {
  .header__hamburger {
    right: 30px;
    width: 73px;
    height: 73px;
  }
}


/*
========================================
header__menu 
========================================
*/
/* SP */
.header__menu {
  position: fixed;
  top: 5px;
  right: 15px;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  backdrop-filter: blur(25px);
  z-index: 99;
  animation: shrink 2s ease forwards;
}

.header__menu.is-active {
  animation: expand 2s ease forwards;
}

/* 拡大アニメーション */
@keyframes expand {
  0% {
    top: 5px;
    right: 15px;
    transform: translate(0, 0);
    width: 60px;
    height: 60px;
  }
  30% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
  }
  100% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
  }
}

/* 縮小アニメーション */
@keyframes shrink {
  0% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
  }
  70% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
  }
  100% {
    top: 5px;
    right: 15px;
    transform: translate(0, 0);
    width: 60px;
    height: 60px;
  }
}

.header__menu-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__menu-item {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.header__menu-list.is-active .header__menu-item:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}

.header__menu-list.is-active .header__menu-item:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.8s;
}

.header__menu-list.is-active .header__menu-item:nth-of-type(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.1s;
}

.header__menu-list.is-active .header__menu-item:nth-of-type(4) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.4s;
}

.header__menu-list.is-active .header__menu-item:nth-of-type(5) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.7s;
}

.header__menu-item + .header__menu-item {
  margin-top: 20px;
}

.header__menu-link {
  color: #333333;
  font-size: 2rem;
}

/* PC */
@media (min-width: 768px) {
  .header__menu {
    right: 30px;
    width: 73px;
    height: 73px;
  }

  /* 拡大アニメーション */
  @keyframes expand {
    0% {
      top: 5px;
      right: 30px;
      transform: translate(0, 0);
      width: 73px;
      height: 73px;
    }
    30% {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 0;
      height: 0;
    }
    100% {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 200%;
      height: 200%;
    }
  }

  /* 縮小アニメーション */
  @keyframes shrink {
    0% {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 200%;
      height: 200%;
    }
    70% {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 0;
      height: 0;
    }
    100% {
      top: 5px;
      right: 30px;
      transform: translate(0, 0);
      width: 73px;
      height: 73px;
    }
  }
}


/*
========================================
container 
========================================
*/
/* SP */
.container {
  width: 100vw;
  height: 100vh;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content.is-show {
  opacity: 1;
  z-index: 1;
}

.content01 {
  padding-top: 10rem;
}

.textAreaWrapper {
  width: 93%;
}

.textArea {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 40px;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.textArea__title {
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
}

.textArea__text {
  margin-top: 10px;
  font-size: 2.2rem;
  color: #333333;
  line-height: 1.45;
}


.modelPlaneArea,
.modelMonkeyArea,
.modelChildArea {
  width: 100%;
  height: 70%;
}

.modelPlaneArea canvas,
.modelMonkeyArea canvas,
.modelChildArea canvas {
  width: 100% !important;
  height: 100% !important;
}

.mainVisualTextArea {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainVisualText__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  font-weight: bold;
  font-size: 3.4rem;
  color: #333333;
  text-align: center;
}

.mainVisualTextArea.is-active .mainVisualText__text span {
  position: relative;
  display: inline-block;
  animation: popup 0.5s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation-delay: var(--delay); /* --delayはmainVisualText.jsで設定 */
}
  
@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: scale(1.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* PC */
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .content {
    flex-direction: row;
  }

  .content01 {
    padding-top: 0;
  }
  .mainVisualText__text {
    font-size: 5rem;
  }

  .textAreaWrapper {
    width: 50%;
  }

  .modelPlaneArea,
  .modelMonkeyArea,
  .modelChildArea {
    position: relative;
    width: 50%;
    height: 100%;
  }
}


/*
========================================
footer 
========================================
*/
/* SP */
.footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  color: #fff;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.contact-form input,
.contact-form textarea {
  margin-top: 6px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 16px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: rgba(255, 255, 255, 0.2);
}

.contact-form button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #00bcd4;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #0097a7;
}

.footer__bottom {
  position: absolute;
  bottom: 3rem;
  text-align: center;
}

.footer__copyright {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
}

/* PC */
@media (min-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .contact-form {
    width: 35%;
  }
}


/*
========================================
scrollLine 
========================================
*/
/* SP */
.scrollLine {
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: center;
}

.scrollLine__text {
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.2em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrollLine__line {
  position: relative;
  width: 1px;
  height: 80px;
  background-color: transparent;
  margin: 0 auto;
  overflow: hidden;
}

.scrollLine__line::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  animation: scrollLine 2s ease-in-out infinite;
}

@keyframes scrollLine {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
